.gradient-banner {
    background: linear-gradient(to right, #5de0e6, #004aad);
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-box {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.content-box h1 {
    margin-bottom: 20px;
    color: #004aad;
}

.content-box p {
    color: #333;
    font-size: 1.1em;
}

.download-buttons {
    margin-top: 20px;
}

.download-buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #004aad;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-buttons .btn:hover {
    background-color: #5de0e6;
}

.resume-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.experience-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.resume-section img.section-icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.resume-section h2 {
    color: #004aad;
    margin-bottom: 0;
}

.experience-section {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.experience-images {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.experience-image {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 60px;
    border-radius: 8px;
}

.experience-image-tall {
    max-width: 150px;
    max-height: 250px;
    margin-bottom: 60px;
    border-radius: 8px;
}

.experience-details {
    flex: 1;
}

.education-section {
    position: relative;
    background: linear-gradient(to right, #004aad, #5de0e6);
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.education-section h2 {
    color: white;
    margin-bottom: 20px;
}

.education-section .section-content {
    padding-left: 20px;
}

.education-section h3 {
    margin: 0;
    font-size: 1.5em;
    color: #ffffff;
}

.education-dates {
    font-size: 1em;
    color: #dddddd;
    margin-bottom: 10px;
}

.education-degree {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
}

.education-coursework {
    font-size: 1em;
    color: #ffffff;
    line-height: 1.6em;
}

.education-image {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 300px;
    max-height: 175px;
    border-radius: 8px;
}

.resume-section img.section-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.resume-section h2 {
    color: #004aad;
    margin-bottom: 0;
}

.section-content {
    padding-left: 20px;
    font-size: 1.1em;
    color: #333;
}

.skills-list p {
    margin: 10px 0;
    line-height: 1.6em;
}

.skills-list strong {
    color: #004aad;
}

