.about-section {
  padding: 40px 20px;
  background-color: #f5f5f5;
  color: #333;
}

.about-image {
  float: left; 
  margin-right: 20px;
  width: 300px;
  border-radius: 10px;
}

.about-text {
  color: #333;
  font-size: 1.1em;
  line-height: 1.6;
}

.about-text h2 {
  color: #004aad;
  margin-bottom: 20px;
}

.gradient-banner {
  background: linear-gradient(to right, #5de0e6, #004aad);
  padding: 100px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-box {
  background-color: white;
  padding: 30px;
  max-width: 450px;
  text-align: center;
}

.content-box h1 {
  margin-bottom: 20px;
  color: #004aad;
}

.content-box p {
  color: #333;
  font-size: 1.2em;
}
