

.gradient-banner {
    background: linear-gradient(to right, #5de0e6, #004aad);
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .content-box {
    background-color: white;
    padding: 30px;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content-box h1 {
    margin-bottom: 20px;
    color: #004aad;
  }
  
  .content-box p {
    color: #333;
    font-size: 1.2em;
  }
  