/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

.josefin-sans-100 {
  font-weight: 100;
}

.josefin-sans-200 {
  font-weight: 200;
}
